<h1>About</h1>
<p>
  This app was built by the Chief Architect - <%= link_to "Adan Romero.", "http://www.facebook.com" %>
  He can often be found learning more about analytics and coding on websites such as <%= link_to "Coursera.", "
  http://www.coursera.org" %>
</p>
<p>
  The second in command is <%= link_to "Los","http://www.fightautismandwin.com" %>
</p>
