<h1> About Us! </h1>
<p>
	<div class = "container">
	We are a group of young back-end developers and talented UI/UX designers interested in learning more about web applications. This web app is a proof of concept.
</div>
</p>
