<% if user_signed_in? %>
<div class ="center hero-unit">

<h1><p>You're logged in. </p> <p>Begin enjoying Capshare!</p></h1>
<h2>Feel free to start uploading some of your favorite nature images and share them with other users. </h2>
</div>

<% else %>
<div class ="center hero-unit">

<h1>Welcome to Capshare! The Nature Image Sharing Web App!</h1>
<p>
  This app was built using lessons learned through the 
  <%= link_to "One Month Rails", "http://onemonthrails.com" %>
  initiative.
</p>
<p> <%= link_to 'Sign up now!', new_user_registration_path, class: "btn btn-large btn-primary" %> </p>
</div>
<% end %>