<div class ="center hero-unit">

<h1>Welcome to Capshare! The Nature Image Sharing Web App!</h1>
<p>
  This app was built using lessons learned through the 
  <%= link_to "One Month Rails", "http://onemonthrails.com" %>
  initiative.
</p>
<p> <%= link_to 'Sign up now!',  "#" , class: "btn btn-large btn-primary" %> </p>
</div>
