<h1>Welcome to Capshare! The Nature Image Sharing Web App!</h1>
<p>
  This app was built using lessons learned through the 
  <%= link_to "One Month Rails", "http://onemonthrails.com" %>
  initiative.
</p>
<p>
  <a href = "#"> Sign Up Now! </a>
</p>

<div class = "footer">
		<smalL>
Come learn more about our credentials on 
  <%= link_to "LinkedIn", "http://www.linkedin.com" %>
		</small>
</div>